.App {
	text-align: center;
	padding-bottom: 100px;
}

.free {
	padding: 10px 0;
	background: rgb(232, 232, 232);
}

.input-box {
	padding: 10px 0;
	margin: 0;
}

.alert-box {
	background: rgb(137, 0, 0);
	color: #fff;
	padding: 10px;
}
